/*green: #52ad5b*/
/*yellow: #ccb545*/
/*grey: #777c7e*/
/*white:#ffffff*/
/*black: #000*/


body {
    background-color: #ffffff;
    font-family: "DejaVu Sans Mono", sans-serif;
    width: 100%;
    margin: 0;
    padding-bottom: 100px;
    height: 100%;
    position: relative;
}

.logo {
    float: left;
    padding: 3px 0 0 0;
    max-height: 64px;
}

.nav-bar {
    background-color: #777c7e;
    height: 70px;
    width: 100%;
}

#nav-container {
    width: 80%;
    margin: 0 auto;
    height: 70px;
}

.nav-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    float: right;
    background: white;
}

.nav-bar li {
    list-style-type: none;
    padding-right: 10px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
    border-right: 1px solid #777c7e;
}

.nav-bar li:last-child {
    border-right: none;
}

.nav-bar li a {
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    text-transform: uppercase;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;

}

.nav-bar li a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 690px) {
    .logo {
        float: none;
        padding: 3px 0 3px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-bar ul {
        float: none;
        padding: 0px;
        margin: 0px;
        text-align: center;
        background: white;
    }

    .nav-bar {
        background-color: #777c7e;
        height: 150px;
        width: 100%;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav.nav-footer {
    height: 150px;
    width: 100%;
    background-color: #777c7e;
    text-align: center;
    padding-top: 10px;
}

nav.nav-footer img {
    width: 200px;
    padding-bottom: 40px;
}

nav.nav-footer a {
    padding: 5px;
    color: white;
    text-decoration: underline 0.10em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

nav.nav-footer a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

footer .copy-right {
    width: 100%;
    text-align: center;
    background-color: white;
}

.content-wrapper {
    width: 80%;
    margin: auto;
    padding-bottom: 170px;
}